/* Globals */

.lightsaber {
  height: 180px;
  background: linear-gradient(to right, var(--bklit-500), var(--bklit-600));
  border-radius: var(--radius);
  overflow: hidden;
  margin-top: -24px;
  /* opacity: 0.2; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  span {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    position: relative;
  }

  &:before {
    content: "";
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    width: 100%;
    opacity: 0.8;
    background:
      radial-gradient(
        circle,
        transparent 20%,
        var(--card) 20%,
        var(--card) 80%,
        transparent 80%,
        transparent
      ),
      radial-gradient(
        circle,
        transparent 20%,
        var(--card) 20%,
        var(--card) 80%,
        transparent 80%,
        transparent
      )
      15px 15px,
      linear-gradient(var(--card) 2px, transparent 2px) 0 -1px,
      linear-gradient(90deg, var(--card) 2px, var(--muted) 2px) -1px 0;
    background-size:
      30px 30px,
      30px 30px,
      15px 15px,
      15px 15px;
  }
}
