@import "tailwindcss";
@import "tw-animate-css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(48.8% 0.243 264.376);
  --primary-foreground: oklch(87% 0.065 274.039);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.56 0.1686 260.53);
  --chart-3: oklch(0.52 0.292 291.14);
  --chart-4: oklch(0.69 0.2757 321.09);
  --chart-5: oklch(0.7 0.1521 285.66);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --region: var(--bklit-500);
  --region-hover: var(--bklit-600);

  --bklit-900: oklch(1 0 none);
  --bklit-800: oklch(0.9565 0.0135 277.06);
  --bklit-700: oklch(0.9301 0.0205 276.95);
  --bklit-600: oklch(0.9002 0.0263 276.38);
  --bklit-500: oklch(0.8674 0.0306 277.55);
  --bklit-400: oklch(0.825 0.0382 277.22);
  --bklit-300: oklch(0.7624 0.0434 276.4);
  --bklit-200: oklch(0.714 0.0427 276.06);
  --bklit-100: oklch(0.6403 0.0531 275.97);

  --chart-negative: var(--bklit-500);

  --header-height: 68px;
}

.dark {
  --background: var(--bklit-900);
  --foreground: oklch(0.985 0 0);
  --card: var(--bklit-700);
  --card-foreground: var(--color-gray-300);
  --popover: var(--bklit-900);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(48.8% 0.243 264.376);
  --primary-foreground: oklch(1 0 none);
  --secondary: var(--bklit-600);
  --secondary-foreground: var(--color-white);
  --muted: var(--bklit-700);
  --muted-foreground: var(--bklit-200);
  --accent: var(--bklit-600);
  --accent-foreground: var(--color-white);
  --destructive: oklch(45.9% 0.187 3.815);
  --destructive-foreground: oklch(0.9082 0.048775 8.6356);
  --border: var(--bklit-600);
  --input: var(--bklit-600);
  --ring: var(--bklit-200);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.56 0.1686 260.53);
  --chart-3: oklch(0.52 0.292 291.14);
  --chart-4: oklch(0.69 0.2757 321.09);
  --chart-5: oklch(0.7 0.1521 285.66);

  --sidebar: var(--bklit-900);
  --sidebar-foreground: var(--bklit-200);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--bklit-700);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: var(--bklit-200);

  --region: var(--bklit-500);
  --region-hover: var(--bklit-600);

  --bklit-900: oklch(0.1445 0.0047 263.79);
  --bklit-800: oklch(0.1829 0.0083 274.43);
  --bklit-700: oklch(0.2068 0.014 278.71);
  --bklit-600: oklch(0.2386 0.0192 280.36);
  --bklit-500: oklch(0.2856 0.0238 281.33);
  --bklit-400: oklch(0.3741 0.0307 282.31);
  --bklit-300: oklch(0.4671 0.0323 282.82);
  --bklit-200: oklch(0.5638 0.0358 277.43);
  --bklit-100: oklch(0.6589 0.0178 278.35);

  --chart-negative: var(--bklit-500);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-bklit-900: var(--bklit-900);
  --color-bklit-800: var(--bklit-800);
  --color-bklit-700: var(--bklit-700);
  --color-bklit-600: var(--bklit-600);
  --color-bklit-500: var(--bklit-500);
  --color-bklit-400: var(--bklit-400);
  --color-bklit-300: var(--bklit-300);
  --color-bklit-200: var(--bklit-200);
  --color-bklit-100: var(--bklit-100);
  --color-bklit-50: var(--bklit-50);

  --color-brand-50: oklch(97% 0.05 264.376);
  --color-brand-100: oklch(93% 0.08 264.376);
  --color-brand-200: oklch(85% 0.12 264.376);
  --color-brand-300: oklch(73% 0.16 264.376);
  --color-brand-400: oklch(60% 0.2 264.376);
  --color-brand-500: oklch(48.8% 0.243 264.376);
  --color-brand-600: oklch(42% 0.24 264.376);
  --color-brand-700: oklch(36% 0.22 264.376);
  --color-brand-800: oklch(28% 0.19 264.376);
  --color-brand-900: oklch(22% 0.16 264.376);

  --color-region: var(--region);
  --color-region-hover: var(--region-hover);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  code.inline {
    @apply bg-muted py-1 px-1.5 text-xs rounded font-mono;
  }
}

@utility progressive-blur {
  @apply backdrop-blur-md mask-b-from-65%;
}
