@import "tailwindcss";
@import "tw-animate-css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: var(--color-lime-500);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.54 0.1864 11.25);
  --destructive-foreground: oklch(0.9082 0.048775 8.6356);
  --border: oklch(0.96 0.0053 286.3);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);

  --chart-1: oklch(0.93 0.1421 124.85);
  --chart-2: oklch(0.79 0.1287 184.79);
  --chart-3: oklch(0.69 0.1763 246.45);
  --chart-4: oklch(0.49 0.2229 281.04);
  --chart-5: oklch(0.78 0.193 322.07);
  --chart-6: oklch(0.71 0.2007 357.57);
  --chart-7: oklch(0.83 0.1475 83);
  --chart-8: oklch(0.41 0.1227 263.12);
  --chart-9: oklch(0.03 0.001 286.32);

  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);

  --bklit-900: oklch(0.1 0 0);
  --bklit-800: oklch(0.159 0 0);
  --bklit-700: oklch(0.261 0 0);
  --bklit-600: oklch(0.339 0 0);
  --bklit-500: oklch(0.461 0 0);
  --bklit-400: oklch(0.649 0 0);
  --bklit-300: oklch(0.839 0 0);
  --bklit-200: oklch(0.9 0 0);
  --bklit-100: oklch(0.959 0 0);

  --region: var(--bklit-100);
  --region-hover: var(--bklit-200);

  --chart-negative: var(--bklit-200);
  --chart-cartesian: var(--bklit-200);

  --header-height: 68px;

  .logo-dark {
    mix-blend-mode: plus-lighter;
    border: 1px solid red;
  }
}

.dark {
  --background: var(--bklit-900);
  --foreground: oklch(0.985 0 0);
  --card: var(--bklit-700);
  --card-foreground: var(--color-gray-300);
  --popover: var(--bklit-900);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.93 0.1421 124.85);
  --primary-foreground: oklch(0.32 0.0617 115.83);
  --secondary: var(--bklit-700);
  --secondary-foreground: var(--color-white);
  --muted: var(--bklit-700);
  --muted-foreground: var(--bklit-200);
  --accent: var(--bklit-600);
  --accent-foreground: var(--color-white);
  --destructive: oklch(45.9% 0.187 3.815);
  --destructive-foreground: oklch(0.9082 0.048775 8.6356);
  --border: var(--bklit-600);
  --input: var(--bklit-600);
  --ring: var(--bklit-200);

  --chart-1: oklch(0.93 0.1421 124.85);
  --chart-2: oklch(0.79 0.1287 184.79);
  --chart-3: oklch(0.69 0.1763 246.45);
  --chart-4: oklch(0.49 0.2229 281.04);
  --chart-5: oklch(0.78 0.193 322.07);
  --chart-6: oklch(0.71 0.2007 357.57);
  --chart-7: oklch(0.83 0.1475 83);
  --chart-8: oklch(0.41 0.1227 263.12);
  --chart-9: oklch(0.03 0.001 286.32);

  --sidebar: var(--bklit-900);
  --sidebar-foreground: var(--bklit-200);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: var(--bklit-700);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: var(--bklit-200);

  --bklit-900: oklch(0.1445 0.0047 263.79);
  --bklit-800: oklch(0.1829 0.0083 274.43);
  --bklit-700: oklch(0.2068 0.014 278.71);
  --bklit-600: oklch(0.2386 0.0192 280.36);
  --bklit-500: oklch(0.2856 0.0238 281.33);
  --bklit-400: oklch(0.3741 0.0307 282.31);
  --bklit-300: oklch(0.4671 0.0323 282.82);
  --bklit-200: oklch(0.5638 0.0358 277.43);
  --bklit-100: oklch(0.6589 0.0178 278.35);

  --region: var(--bklit-500);
  --region-hover: var(--bklit-600);

  --chart-negative: var(--bklit-500);
  --chart-cartesian: var(--bklit-500);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
  --color-chart-9: var(--chart-9);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-bklit-900: var(--bklit-900);
  --color-bklit-800: var(--bklit-800);
  --color-bklit-700: var(--bklit-700);
  --color-bklit-600: var(--bklit-600);
  --color-bklit-500: var(--bklit-500);
  --color-bklit-400: var(--bklit-400);
  --color-bklit-300: var(--bklit-300);
  --color-bklit-200: var(--bklit-200);
  --color-bklit-100: var(--bklit-100);

  --color-region: var(--region);
  --color-region-hover: var(--region-hover);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  code.inline {
    @apply bg-muted py-1 px-1.5 text-xs rounded font-mono;
  }
}

@utility progressive-blur {
  @apply backdrop-blur-md mask-b-from-65%;
}

.mapboxgl-ctrl-logo {
  @apply hidden!;
}

.bklit-conic {
  background: linear-gradient(to bottom, #000000, #ffffff);
}

.squircle {
  /* biome-ignore lint/correctness/noUnknownProperty: corner-shape is experimental */
  corner-shape: squircle;
}

.page-content {
  @apply text-muted-foreground space-y-4;

  & h2 {
    @apply text-2xl font-bold text-card-foreground;
  }

  & h3 {
    @apply text-lg font-semibold mb-2 text-card-foreground;
  }

  & p {
    @apply text-lg mb-4;
  }

  & ul {
    @apply list-disc pl-4 space-y-2;
  }
}
